# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# GitKraken
.idea
.idea/*

# Matlab
*.asv

# Jupyter notebook
.ipynb_checkpoints

#Figures
**/Figures

# Ignore virtual environments
venv

# Hidden files
./*.ipynb
docs/*.aux
docs/*.synctex.gz
docs/*.log
docs/*.tex
requirements.txt
ne_world_data/*
ne_epidemic/*
ne_parameters/*
ne_visualization/*
01 _death_rates.ipynb
02_ne_covid19_model.ipynb
03_SIR_Class.ipynb
04_SIR_Class_Spain_Live_Model.ipynb
05_SIR_Italy_live_model.ipynb
06_SIR_Class_Spain_Live_Model_OPT.ipynb
